
<section class="inner-hero overlay--one bg_img" style="background-image: url('assets/images/frontend/breadcrumb/62efad03dcc131659874563.jpg');">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <h2 class="page-title text-center text-white">Contact Us</h2>
                <ul class="page-breadcrumb justify-content-center">
                    <li><a [routerLink]="['/website/home']">Home</a></li>
                    <li>Contact Us</li>
                </ul>
            </div>
        </div>
    </div>
</section>
        
            <section class="pt-100 pb-100 position-relative z-index section--bg">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <span class="subtitle fw-bold text--base font-size--18px border-left">Contact with us</span>
                    <h2 class="section-title">Get in touch for any kind of help and informations</h2>
                    <ul class="contact-info-list mt-5">
                        <li class="single-info d-flex flex-wrap align-items-center">
                            <div class="single-info__icon bg--base text-white d-flex justify-content-center align-items-center rounded-3">
                                <i class="las la-map-marked-alt"></i>
                            </div>
                            <div class="single-info__content">
                                <h4 class="title">Our Address</h4>
                                <p class="mt-3">22 bekar streat, London, England</p>
                            </div>
                        </li><!-- single-info end -->
                        <li class="single-info d-flex flex-wrap align-items-center">
                            <div class="single-info__icon bg--base text-white d-flex justify-content-center align-items-center rounded-3">
                                <i class="las la-envelope"></i>
                            </div>
                            <div class="single-info__content">
                                <h4 class="title">Email Address</h4>
                                <p class="mt-3">
                                    <a href="mailto:company@email.com" class="text--secondary">
                                        company&#64;email.com

                                        
                                    </a>
                                </p>
                            </div>
                        </li><!-- single-info end -->
                        <li class="single-info d-flex flex-wrap align-items-center">
                            <div class="single-info__icon bg--base text-white d-flex justify-content-center align-items-center rounded-3">
                                <i class="las la-phone-volume"></i>
                            </div>
                            <div class="single-info__content">
                                <h4 class="title">Phone Number</h4>
                                <p class="mt-3"><a href="tel:+1212121245545" class="text--secondary">+1212121245545</a></p>
                            </div>
                        </li><!-- single-info end -->
                    </ul>
                </div>
                <div class="col-lg-6 mt-lg-0 mt-5">
                    <form class="box-shadow p-sm-5 p-3 section--bg rounded-3 position-relative" method="post" >
                        <input type="hidden" name="_token" value="sfNXRERKVax0Zy172PBshpJhNbsjlSCbeql5tW4C" autocomplete="off">                        <div class="row"> 
                            <div class="form-group col-lg-12">
                                <label>Name <sup class="text--danger">*</sup></label>
                                <input 
                                    name="name" 
                                    type="text" 
                                    placeholder="Enter your name" class="form--control" 
                                    value="" 
                                    required
                                >
                            </div>
                            <div class="form-group col-lg-12">
                                <label>Email <sup class="text--danger">*</sup></label>
                                <input 
                                    name="email" 
                                    type="text" 
                                    placeholder="Enter your email address" 
                                    class="form--control" 
                                    value="" 
                                    required
                                >
                            </div>
                            <div class="form-group col-lg-12">
                                <label>Subject <sup class="text--danger">*</sup></label>
                                <input name="subject" type="text" placeholder="Enter your subject" class="form--control" value="" required>
                            </div>
                            <div class="form-group col-lg-12">
                                <label>Message <sup class="text--danger">*</sup></label>
                                <textarea name="message" wrap="off" placeholder="Enter your message" class="form--control"></textarea>
                            </div>

                            
                            <div class="col-lg-12">
                                <button type="submit" class="btn btn--base w-100">Submit</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>