<section class="hero bg_img" style="background-image: url('/assets/xcash/assets/images/frontend/banner/62ef9130b41251659867440.jpg')">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-7 text-center">
                <div class="hero__subtitle d-inline wow fadeInUp" data-wow-duration="0.3" data-wow-delay="0.3s">
                    We are xCash
                </div>
                <h2 class="hero__title wow fadeInUp" data-wow-duration="0.3" data-wow-delay="0.5s">
                    The Ultimate Solution for e-Wallet Service
                </h2>
                <p class="hero__des mt-3 wow fadeInUp" data-wow-duration="0.3" data-wow-delay="0.7s">
                    Complete solution for mobile money and wallet system. Comes with User, Agent, and Merchant system with eCommerce API and QR code ready.
                </p>
                <div class="btn--group justify-content-center mt-4 wow fadeInUp" data-wow-duration="0.3" data-wow-delay="0.9s">
                    <a href="user/login.html" class="btn btn--base btn--custom">Get Started</a>
                    <a href="https://www.youtube.com/embed/WOb4cj7izpE" data-rel="lightcase:myCollection" class="video-btn">
                        <span class="icon"><i class="las la-play"></i></span>
                        <span class="text-white">See How</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- hero section end -->

                        <!-- brand section start -->
<div class="brand-section">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-4">
                <h4>Our payment gateway integrate about 50+ platform.</h4>
            </div>
            <div class="col-lg-8">
                <div class="brand-slider">
                                            <div class="single-slide">
                            <div class="brand-item">
                                <img src="/assets/xcash/assets/images/frontend/brands/62efc15a09a8c1659879770.png" 
									alt="image"
								>
                            </div>
                        </div><!-- single-slide end -->
                                            <div class="single-slide">
                            <div class="brand-item">
                                <img src="/assets/xcash/assets/images/frontend/brands/62efc14380fb61659879747.png" 
									alt="image"
								>
                            </div>
                        </div><!-- single-slide end -->
                                            <div class="single-slide">
                            <div class="brand-item">
                                <img src="/assets/xcash/assets/images/frontend/brands/62efc0ea7033c1659879658.png" 
									alt="image"
								>
                            </div>
                        </div><!-- single-slide end -->
                                            <div class="single-slide">
                            <div class="brand-item">
                                <img src="/assets/xcash/assets/images/frontend/brands/62efc1622f5701659879778.png" 
									alt="image"
								>
                            </div>
                        </div><!-- single-slide end -->
                                    </div>
            </div>
        </div>
    </div>
</div>
<!-- brand section end -->
                    <!-- about section start -->
<section class="pt-100 pb-100 bg-white">
    <div class="container">
        <div class="row justify-content-between align-items-center">
            <div class="col-xl-6 order-xl-1 order-2 mt-xl-0 mt-5">
                <span class="section-subtitle border-left">ABOUT US</span>
                <h2 class="section-title">We&#039;re expert in this field whole over the world</h2>
                <p class="mt-3 font-size--18px">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.</p>
                <ul class="award-list d-flex flex-wrap align-items-center mt-3">
                                            <li>
                            <img src="/assets/xcash/assets/images/frontend/about/62efc8822fe8c1659881602.png"
                                alt="image"
                            >
                        </li>
                                            <li>
                            <img src="/assets/xcash/assets/images/frontend/about/62efc81e9ac1d1659881502.png"
                                alt="image"
                            >
                        </li>
                                            <li>
                            <img src="/assets/xcash/assets/images/frontend/about/62efc90faa9941659881743.png"
                                alt="image"
                            >
                        </li>
                                    </ul>
                <a href="about-us.html" class="btn btn--base btn--custom mt-5">Know More</a>
            </div>
            <div class="col-xl-5 order-xl-2 order-1">
                <div class="about-thumb">
                    <img src="/assets/xcash/assets/images/frontend/about/62efc7c7b6ef61659881415.jpg"
                        alt="image" class="wow fadeInUp" data-wow-duration="0.3" data-wow-delay="0.3s">
                    <div class="about-img-content wow fadeInUp" data-wow-duration="0.3" data-wow-delay="0.7s">
                        <h4 class="years"></h4>
                        <span class="caption">Years of Experience</span>
                    </div>
                </div>
            </div>
        </div><!-- row end -->
    </div>
</section>
<!-- about section end -->
                    <section class="pt-100 pb-150 position-relative z-index-2 section--bg2 section-shape">
    <div class="section-wave-img opacity50">
        <img src="/assets/xcash/assets/images/frontend/service/62efca21621291659882017.png" alt="image">
    </div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="section-header text-center wow fadeInUp" data-wow-duration="0.3" data-wow-delay="0.3s">
                    <h2 class="section-title text-white">What we serve our customer</h2>
                    <p class="mt-3 text-white">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis</p>
                </div>
            </div>
        </div><!-- row end -->
        <div class="row gy-4">
                            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-duration="0.3" data-wow-delay="0.1s">
                    <div class="service-card text-center">
                        <div class="dotted-wrapper"></div>
                        <div class="service-card__icon">
                            <i class="las la-wallet"></i>                        </div>
                        <div class="service-card__content mt-4">
                            <h3 class="title">Complete Wallet</h3>
                            <p class="mt-3">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis.</p>
                        </div>
                    </div><!-- service-card end -->
                </div>
                            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-duration="0.3" data-wow-delay="0.1s">
                    <div class="service-card text-center">
                        <div class="dotted-wrapper"></div>
                        <div class="service-card__icon">
                            <i class="las la-directions"></i>                        </div>
                        <div class="service-card__content mt-4">
                            <h3 class="title">Money Transfer</h3>
                            <p class="mt-3">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis</p>
                        </div>
                    </div><!-- service-card end -->
                </div>
                            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-duration="0.3" data-wow-delay="0.1s">
                    <div class="service-card text-center">
                        <div class="dotted-wrapper"></div>
                        <div class="service-card__icon">
                            <i class="las la-file-invoice"></i>                        </div>
                        <div class="service-card__content mt-4">
                            <h3 class="title">Email Invoicing</h3>
                            <p class="mt-3">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis</p>
                        </div>
                    </div><!-- service-card end -->
                </div>
                            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-duration="0.3" data-wow-delay="0.1s">
                    <div class="service-card text-center">
                        <div class="dotted-wrapper"></div>
                        <div class="service-card__icon">
                            <i class="las la-cloud-download-alt"></i>                        </div>
                        <div class="service-card__content mt-4">
                            <h3 class="title">Cash Out</h3>
                            <p class="mt-3">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis</p>
                        </div>
                    </div><!-- service-card end -->
                </div>
                            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-duration="0.3" data-wow-delay="0.1s">
                    <div class="service-card text-center">
                        <div class="dotted-wrapper"></div>
                        <div class="service-card__icon">
                            <i class="las la-cloud-upload-alt"></i>                        </div>
                        <div class="service-card__content mt-4">
                            <h3 class="title">Cash in</h3>
                            <p class="mt-3">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis</p>
                        </div>
                    </div><!-- service-card end -->
                </div>
                            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-duration="0.3" data-wow-delay="0.1s">
                    <div class="service-card text-center">
                        <div class="dotted-wrapper"></div>
                        <div class="service-card__icon">
                            <i class="fas fa-qrcode"></i>                        </div>
                        <div class="service-card__content mt-4">
                            <h3 class="title">Make Payment</h3>
                            <p class="mt-3">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis</p>
                        </div>
                    </div><!-- service-card end -->
                </div>
                    </div>
    </div>
</section>
                    <section class="pt-100 pb-100 position-relative z-index-2 bg_img">
    <div class="section-img bg_img opacity20"
        style="background-image: url('/assets/xcash/assets/images/frontend/why_choose_us/62efcb7aacf181659882362.png');">
    </div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="section-header text-center wow fadeInUp" data-wow-duration="0.3" data-wow-delay="0.3s">
                    <h2 class="section-title">Why are so many people switching to xCash?</h2>
                    <p class="mt-3">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis</p>
                </div>
            </div>
        </div><!-- row end -->
        <div class="row gy-4">
                            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-duration="0.3" data-wow-delay="0.1s">
                    <div class="choose-card rounded-3">
                        <div class="choose-card__icon">
                            <img src="/assets/xcash/assets/images/frontend/why_choose_us/62efcb8dc85f01659882381.png"
                                alt="image">
                        </div>
                        <div class="choose-card__content">
                            <h3 class="title">Lowest payment processing fees. Period.</h3>
                            <p class="mt-3">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis</p>
                        </div>
                    </div><!-- choose-card end -->
                </div>
                            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-duration="0.3" data-wow-delay="0.1s">
                    <div class="choose-card rounded-3">
                        <div class="choose-card__icon">
                            <img src="/assets/xcash/assets/images/frontend/why_choose_us/62efcb9cbfdc11659882396.png"
                                alt="image">
                        </div>
                        <div class="choose-card__content">
                            <h3 class="title">No locked-in contracts. Ever.</h3>
                            <p class="mt-3">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis</p>
                        </div>
                    </div><!-- choose-card end -->
                </div>
                            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-duration="0.3" data-wow-delay="0.1s">
                    <div class="choose-card rounded-3">
                        <div class="choose-card__icon">
                            <img src="/assets/xcash/assets/images/frontend/why_choose_us/62efcba62dca91659882406.png"
                                alt="image">
                        </div>
                        <div class="choose-card__content">
                            <h3 class="title">Full transparency. Always.</h3>
                            <p class="mt-3">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis</p>
                        </div>
                    </div><!-- choose-card end -->
                </div>
                            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-duration="0.3" data-wow-delay="0.1s">
                    <div class="choose-card rounded-3">
                        <div class="choose-card__icon">
                            <img src="/assets/xcash/assets/images/frontend/why_choose_us/62efcbb6008e51659882422.png"
                                alt="image">
                        </div>
                        <div class="choose-card__content">
                            <h3 class="title">Get your money in less than a day.</h3>
                            <p class="mt-3">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis</p>
                        </div>
                    </div><!-- choose-card end -->
                </div>
                            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-duration="0.3" data-wow-delay="0.1s">
                    <div class="choose-card rounded-3">
                        <div class="choose-card__icon">
                            <img src="/assets/xcash/assets/images/frontend/why_choose_us/62efcbbf6c99b1659882431.png"
                                alt="image">
                        </div>
                        <div class="choose-card__content">
                            <h3 class="title">Payment technology that works.</h3>
                            <p class="mt-3">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis</p>
                        </div>
                    </div><!-- choose-card end -->
                </div>
                            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-duration="0.3" data-wow-delay="0.1s">
                    <div class="choose-card rounded-3">
                        <div class="choose-card__icon">
                            <img src="/assets/xcash/assets/images/frontend/why_choose_us/62efcbce496501659882446.png"
                                alt="image">
                        </div>
                        <div class="choose-card__content">
                            <h3 class="title">A membership plan with wholesale rates.</h3>
                            <p class="mt-3">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis</p>
                        </div>
                    </div><!-- choose-card end -->
                </div>
                    </div>
    </div>
</section>
                    <section class="pt-150 pb-150 border-top section-shape-two section--bg2 position-relative z-index-2">
    <div class="section-wave-img opacity50"><img src="/assets/xcash/assets/images/frontend/feature/62efcd021f8d71659882754.png"
            alt="image"></div>
    <div class="container">
        <div class="row align-items-center mt-5 pb-100">
            <div class="col-lg-4 d-lg-block d-none wow fadeInLeft" data-wow-duration="0.3" data-wow-delay="0.3s">
                <div class="feature-thumb">
                    <img src="/assets/xcash/assets/images/frontend/feature/62efcd0207ca41659882754.jpg"
                        alt="image"
                    >
                </div>
            </div>
            <div class="col-lg-5 wow fadeInRight" data-wow-duration="0.3" data-wow-delay="0.7s">
                <div class="feature-content ps-lg-5">
                    <h2 class="section-title text-white">Approve more transactions</h2>
                    <p class="text-white mt-3">Experience more approvals on every single payment with local and global payment processing, data-driven optimizations, and powerful risk management. All within a fully connected single payments system.</p>
                </div>
            </div>
        </div>
        <div class="row gy-4">
                            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-duration="0.3" data-wow-delay="0.1s">
                    <div class="feaure-card">
                        <div class="feaure-card__icon">
                            <img src="/assets/xcash/assets/images/frontend/feature/62efcd508165d1659882832.png"
                                alt="image">
                        </div>
                        <div class="feaure-card__content mt-4">
                            <h3 class="title text-white">Currencies Accepted</h3>
                            <p class="mt-3 text-white">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis</p>
                        </div>
                    </div><!-- feaure-card end -->
                </div>
                            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-duration="0.3" data-wow-delay="0.1s">
                    <div class="feaure-card">
                        <div class="feaure-card__icon">
                            <img src="/assets/xcash/assets/images/frontend/feature/62efcd57adab41659882839.png"
                                alt="image">
                        </div>
                        <div class="feaure-card__content mt-4">
                            <h3 class="title text-white">Payment Types Accepted</h3>
                            <p class="mt-3 text-white">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis</p>
                        </div>
                    </div><!-- feaure-card end -->
                </div>
                            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-duration="0.3" data-wow-delay="0.1s">
                    <div class="feaure-card">
                        <div class="feaure-card__icon">
                            <img src="/assets/xcash/assets/images/frontend/feature/62efcd5e6eecd1659882846.png"
                                alt="image">
                        </div>
                        <div class="feaure-card__content mt-4">
                            <h3 class="title text-white">Marchent Control Pannel</h3>
                            <p class="mt-3 text-white">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis</p>
                        </div>
                    </div><!-- feaure-card end -->
                </div>
                    </div>
    </div>
</section>
                    <section class="pt-100 pb-100">
    <div class="container">
        <div class="row justify-content-between align-items-center">
            <div class="col-lg-4">
                <span class="section-subtitle border-left">Our top client</span>
                <h2 class="section-title">We&#039;ve build solutions for</h2>
                <p class="mt-3">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis</p>
            </div>
            <div class="col-lg-7 mt-lg-0 mt-5">
                <div class="row">
                                            <div class="col-4 coutomer-item">
                            <div class="coutomer-single">
                                <img src="/assets/xcash/assets/images/frontend/business/62efce30a70c31659883056.png"
                                    alt="image"
                                >
                            </div>
                        </div><!-- coutomer-item end -->
                                            <div class="col-4 coutomer-item">
                            <div class="coutomer-single">
                                <img src="/assets/xcash/assets/images/frontend/business/62efce3fd48eb1659883071.png"
                                    alt="image"
                                >
                            </div>
                        </div><!-- coutomer-item end -->
                                            <div class="col-4 coutomer-item">
                            <div class="coutomer-single">
                                <img src="/assets/xcash/assets/images/frontend/business/62efce4d10ab91659883085.png"
                                    alt="image"
                                >
                            </div>
                        </div><!-- coutomer-item end -->
                                            <div class="col-4 coutomer-item">
                            <div class="coutomer-single">
                                <img src="/assets/xcash/assets/images/frontend/business/62efce58cc7f81659883096.png"
                                    alt="image"
                                >
                            </div>
                        </div><!-- coutomer-item end -->
                                            <div class="col-4 coutomer-item">
                            <div class="coutomer-single">
                                <img src="/assets/xcash/assets/images/frontend/business/62efce65032f51659883109.png"
                                    alt="image"
                                >
                            </div>
                        </div><!-- coutomer-item end -->
                                            <div class="col-4 coutomer-item">
                            <div class="coutomer-single">
                                <img src="/assets/xcash/assets/images/frontend/business/62efce73ef35f1659883123.png"
                                    alt="image"
                                >
                            </div>
                        </div><!-- coutomer-item end -->
                                    </div>
            </div>
        </div>
    </div>
</section>
                    <section class="overview-section bg_img dark-overlay"
    style="background-image: url('/assets/xcash/assets/images/frontend/overview/62efcf261c26c1659883302.jpg');">
    <div class="container">
        <div class="row justify-content-between align-items-center">
            <div class="col-xl-6 col-lg-7 order-lg-1 order-2 mt-lg-0 mt-5">
                <h2 class="section-title text-white wow fadeInUp" data-wow-duration="0.3" data-wow-delay="0.3s">
                    We provide best payment gateway service.
                </h2>
                <p class="text-white mt-3 wow fadeInUp" data-wow-duration="0.3" data-wow-delay="0.5s">
                    Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis
                </p>
                <div class="row mt-5 wow fadeInUp gy-4" data-wow-duration="0.3" data-wow-delay="0.7s">
                                            <div class="col-4">
                            <div class="overview-single">
                                <h3 class="overview-number text-white">22 M</h3>
                                <p class="caption text-white">Total User</p>
                            </div>
                        </div>
                                            <div class="col-4">
                            <div class="overview-single">
                                <h3 class="overview-number text-white">45 M</h3>
                                <p class="caption text-white">Total Transaction</p>
                            </div>
                        </div>
                                            <div class="col-4">
                            <div class="overview-single">
                                <h3 class="overview-number text-white">500+</h3>
                                <p class="caption text-white">Merchant Accounts</p>
                            </div>
                        </div>
                                    </div>
            </div>
            <div class="col-lg-4 order-lg-2 order-1">
                <div class="overview-video-wrapper text-center">
                    <a href="https://www.youtube.com/embed/6agL8KHQlA0" data-rel="lightcase:myCollection"
                        class="video-btn video-btn--lg">
                        <span class="icon"><i class="las la-play"></i></span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
                    <section class="pt-100 pb-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="section-header">
                    <span class="section-subtitle border-left wow fadeInUp" data-wow-duration="0.3"
                        data-wow-delay="0.1s">Our client testimonial
                    </span>
                    <h2 class="section-title wow fadeInUp" data-wow-duration="0.3" data-wow-delay="0.3s">
                        What people say
                    </h2>
                    <p class="mt-3 wow fadeInUp" data-wow-duration="0.3" data-wow-delay="0.5s">
                        Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque
                    </p>
                </div>
            </div>
        </div><!-- row end -->
        <div class="row">
            <div class="col-lg-12">
                <div class="testimonial-slide-area">
                    <div class="thumb">
                        <div class="thumb-slider">
                                                            <div class="single-slide">
                                    <img 
                                        src="/assets/xcash/assets/images/frontend/testimonial/62efd04613fa71659883590.jpg" 
                                        alt="img"       
                                        data-animation="fadeInUp" data-delay=".3s"
                                    >
                                </div>
                                                            <div class="single-slide">
                                    <img 
                                        src="/assets/xcash/assets/images/frontend/testimonial/62efd05e00d4d1659883614.jpg" 
                                        alt="img"       
                                        data-animation="fadeInUp" data-delay=".3s"
                                    >
                                </div>
                                                            <div class="single-slide">
                                    <img 
                                        src="/assets/xcash/assets/images/frontend/testimonial/62efd05e8d63a1659883614.jpg" 
                                        alt="img"       
                                        data-animation="fadeInUp" data-delay=".3s"
                                    >
                                </div>
                                                    </div>
                    </div>
                    <div class="content">
                        <div class="content-slider">
                                                            <div class="single-slide">
                                    <h3 class="name text-white">Taylor Otwell</h3>
                                    <span class="mt-1">Laravel Developer</span>
                                    <p class="mt-3">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo</p>
                                </div>
                                                            <div class="single-slide">
                                    <h3 class="name text-white">Jeffrey Way</h3>
                                    <span class="mt-1">Laravel Developer</span>
                                    <p class="mt-3">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo Nemo.</p>
                                </div>
                                                            <div class="single-slide">
                                    <h3 class="name text-white">Jeffrey Way</h3>
                                    <span class="mt-1">Laravel Developer</span>
                                    <p class="mt-3">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo Nemo.</p>
                                </div>
                                                    </div>
                    </div>
                </div><!-- testimonial-single end -->
            </div>
        </div>
    </div>
</section>
                    <section class="subscribe-section position-relative z-index-2 section--bg2 overflow-hidden">
    <div class="section-wave-img opacity50">
        <img src="/assets/xcash/assets/images/frontend/subscribe/63aace86cae331672138374.jpg" alt="image">
    </div>
    <div class="container">
        <div class="row justify-content-center align-items-center">
            <div class="col-lg-6 col-md-10">
                <div class="subscribe-content text-start wow fadeInUp" data-wow-duration="0.3" data-wow-delay="0.3s">
                    <h2 class="section-title text-white">Subscribe to Our Newsletter</h2>
                    <p class="mt-3 text-white">Follow our newsletter to learn more about peace and building a community connection. Stay up to date on various PLC workshops and events.</p>
                </div>
            </div>
            <div class="col-lg-6 col-md-10">
                <form  method="POST" class="subscription-form">
                    <input type="hidden" name="_token" value="sfNXRERKVax0Zy172PBshpJhNbsjlSCbeql5tW4C" autocomplete="off">                    <form class="search-form">
                        <div class="input--group">  
                            <input type="email" name="email" class="form--control" placeholder="Enter Email">
                            <button type="submit" class="btn btn--base rounded-0"> <span class="btn-text">Subscribe</span> <span class="btn-icon"><i class="fas fa-paper-plane"></i></span> </button>
                        </div>
                    </form>
                </form>
            </div>
        </div>
    </div>
</section>





                    <section class="pt-100 pb-100 section--bg">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="section-header text-center wow fadeInUp" data-wow-duration="0.3" data-wow-delay="0.3s">
                    <span class="section-subtitle border-left">Our latest Announces</span>
                    <h2 class="section-title">Our Announces and Articles</h2>
                    <p class="mt-3">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae</p>
                </div>
            </div>
        </div><!-- row end -->
        <div class="row gy-4 justify-content-center">
                            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-duration="0.3" data-wow-delay="0.1s">
                    <div class="blog-card">
                        <div class="blog-card__thumb rounded-3">
                            <img src="/assets/xcash/assets/images/frontend/blog/thumb_6714d5fd3f3c01729418749.jpg" alt="image">
                        </div>
                        <div class="blog-card__meta">
                            <div class="post-time">
                                <span class="post-date">08</span>
                                <span class="post-month">Aug</span>
                            </div>
                        </div>
                        <div class="blog-card__content">
                            <h4 class="blog-title">
                                <a href="announce/minima-veniam-quis-nostrum-exercitationem-ullam-corporis-suscipit-laboriosa-emo-enim-ipsa.html">
                                    minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosa emo enim ipsa
                                </a>
                            </h4>
                            <p class="mt-3">
                                Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta...
                            </p>
                            <a href="announce/minima-veniam-quis-nostrum-exercitationem-ullam-corporis-suscipit-laboriosa-emo-enim-ipsa.html" class="font-size--14px fw-bold text--base mt-2">
                                Read More                            </a>
                        </div>
                    </div><!-- blog-card end -->
                </div>
                            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-duration="0.3" data-wow-delay="0.1s">
                    <div class="blog-card">
                        <div class="blog-card__thumb rounded-3">
                            <img src="/assets/xcash/assets/images/frontend/blog/thumb_6714d613b88b01729418771.jpg" alt="image">
                        </div>
                        <div class="blog-card__meta">
                            <div class="post-time">
                                <span class="post-date">07</span>
                                <span class="post-month">Aug</span>
                            </div>
                        </div>
                        <div class="blog-card__content">
                            <h4 class="blog-title">
                                <a href="announce/mollitia-saepe-ipsam-nihil-soluta-quaerat-vitae-commodi-placeat2.html">
                                    Mollitia saepe ipsam nihil soluta quaerat vitae commodi placeat.
                                </a>
                            </h4>
                            <p class="mt-3">
                                Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta...
                            </p>
                            <a href="announce/mollitia-saepe-ipsam-nihil-soluta-quaerat-vitae-commodi-placeat2.html" class="font-size--14px fw-bold text--base mt-2">
                                Read More                            </a>
                        </div>
                    </div><!-- blog-card end -->
                </div>
                            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-duration="0.3" data-wow-delay="0.1s">
                    <div class="blog-card">
                        <div class="blog-card__thumb rounded-3">
                            <img src="/assets/xcash/assets/images/frontend/blog/thumb_6714d61fe08c61729418783.jpg" alt="image">
                        </div>
                        <div class="blog-card__meta">
                            <div class="post-time">
                                <span class="post-date">07</span>
                                <span class="post-month">Aug</span>
                            </div>
                        </div>
                        <div class="blog-card__content">
                            <h4 class="blog-title">
                                <a href="announce/mollitia-saepe-ipsam-nihil-soluta-quaerat-vitae-commodi-placeat3.html">
                                    Mollitia saepe ipsam nihil soluta quaerat vitae commodi placeat.
                                </a>
                            </h4>
                            <p class="mt-3">
                                Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta...
                            </p>
                            <a href="announce/mollitia-saepe-ipsam-nihil-soluta-quaerat-vitae-commodi-placeat3.html" class="font-size--14px fw-bold text--base mt-2">
                                Read More                            </a>
                        </div>
                    </div><!-- blog-card end -->
                </div>
                    </div>
    </div>
</section>