<section class="inner-hero overlay--one bg_img" style="background-image: url('assets/images/frontend/breadcrumb/62efad03dcc131659874563.jpg');">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <h2 class="page-title text-center text-white">About</h2>
                <ul class="page-breadcrumb justify-content-center">
                    <li><a [routerLink]="['/website/home']">Home</a></li>
                    <li>About</li>
                </ul>
            </div>
        </div>
    </div>
</section>
        
        

                        <!-- about section start -->
<section class="pt-100 pb-100 bg-white">
    <div class="container">
        <div class="row justify-content-between align-items-center">
            <div class="col-xl-6 order-xl-1 order-2 mt-xl-0 mt-5">
                <span class="section-subtitle border-left">ABOUT US</span>
                <h2 class="section-title">We&#039;re expert in this field whole over the world</h2>
                <p class="mt-3 font-size--18px">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.</p>
                <ul class="award-list d-flex flex-wrap align-items-center mt-3">
                                            <li>
                            <img src="assets/images/frontend/about/62efc8822fe8c1659881602.png"
                                alt="image"
                            >
                        </li>
                                            <li>
                            <img src="assets/images/frontend/about/62efc81e9ac1d1659881502.png"
                                alt="image"
                            >
                        </li>
                                            <li>
                            <img src="assets/images/frontend/about/62efc90faa9941659881743.png"
                                alt="image"
                            >
                        </li>
                                    </ul>
                <a href="about-us.html" class="btn btn--base btn--custom mt-5">Know More</a>
            </div>
            <div class="col-xl-5 order-xl-2 order-1">
                <div class="about-thumb">
                    <img src="assets/images/frontend/about/62efc7c7b6ef61659881415.jpg"
                        alt="image" class="wow fadeInUp" data-wow-duration="0.3" data-wow-delay="0.3s">
                    <div class="about-img-content wow fadeInUp" data-wow-duration="0.3" data-wow-delay="0.7s">
                        <h4 class="years"></h4>
                        <span class="caption">Years of Experience</span>
                    </div>
                </div>
            </div>
        </div><!-- row end -->
    </div>
</section>
<!-- about section end -->
                    <section class="pt-100 pb-150 position-relative z-index-2 section--bg2 section-shape">
    <div class="section-wave-img opacity50">
        <img src="assets/images/frontend/service/62efca21621291659882017.png" alt="image">
    </div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="section-header text-center wow fadeInUp" data-wow-duration="0.3" data-wow-delay="0.3s">
                    <h2 class="section-title text-white">What we serve our customer</h2>
                    <p class="mt-3 text-white">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis</p>
                </div>
            </div>
        </div><!-- row end -->
        <div class="row gy-4">
                            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-duration="0.3" data-wow-delay="0.1s">
                    <div class="service-card text-center">
                        <div class="dotted-wrapper"></div>
                        <div class="service-card__icon">
                            <i class="las la-wallet"></i>                        </div>
                        <div class="service-card__content mt-4">
                            <h3 class="title">Complete Wallet</h3>
                            <p class="mt-3">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis.</p>
                        </div>
                    </div><!-- service-card end -->
                </div>
                            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-duration="0.3" data-wow-delay="0.1s">
                    <div class="service-card text-center">
                        <div class="dotted-wrapper"></div>
                        <div class="service-card__icon">
                            <i class="las la-directions"></i>                        </div>
                        <div class="service-card__content mt-4">
                            <h3 class="title">Money Transfer</h3>
                            <p class="mt-3">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis</p>
                        </div>
                    </div><!-- service-card end -->
                </div>
                            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-duration="0.3" data-wow-delay="0.1s">
                    <div class="service-card text-center">
                        <div class="dotted-wrapper"></div>
                        <div class="service-card__icon">
                            <i class="las la-file-invoice"></i>                        </div>
                        <div class="service-card__content mt-4">
                            <h3 class="title">Email Invoicing</h3>
                            <p class="mt-3">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis</p>
                        </div>
                    </div><!-- service-card end -->
                </div>
                            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-duration="0.3" data-wow-delay="0.1s">
                    <div class="service-card text-center">
                        <div class="dotted-wrapper"></div>
                        <div class="service-card__icon">
                            <i class="las la-cloud-download-alt"></i>                        </div>
                        <div class="service-card__content mt-4">
                            <h3 class="title">Cash Out</h3>
                            <p class="mt-3">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis</p>
                        </div>
                    </div><!-- service-card end -->
                </div>
                            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-duration="0.3" data-wow-delay="0.1s">
                    <div class="service-card text-center">
                        <div class="dotted-wrapper"></div>
                        <div class="service-card__icon">
                            <i class="las la-cloud-upload-alt"></i>                        </div>
                        <div class="service-card__content mt-4">
                            <h3 class="title">Cash in</h3>
                            <p class="mt-3">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis</p>
                        </div>
                    </div><!-- service-card end -->
                </div>
                            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-duration="0.3" data-wow-delay="0.1s">
                    <div class="service-card text-center">
                        <div class="dotted-wrapper"></div>
                        <div class="service-card__icon">
                            <i class="fas fa-qrcode"></i>                        </div>
                        <div class="service-card__content mt-4">
                            <h3 class="title">Make Payment</h3>
                            <p class="mt-3">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis</p>
                        </div>
                    </div><!-- service-card end -->
                </div>
                    </div>
    </div>
</section>
                    <section class="pt-100 pb-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="section-header">
                    <span class="section-subtitle border-left wow fadeInUp" data-wow-duration="0.3"
                        data-wow-delay="0.1s">Our client testimonial
                    </span>
                    <h2 class="section-title wow fadeInUp" data-wow-duration="0.3" data-wow-delay="0.3s">
                        What people say
                    </h2>
                    <p class="mt-3 wow fadeInUp" data-wow-duration="0.3" data-wow-delay="0.5s">
                        Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque
                    </p>
                </div>
            </div>
        </div><!-- row end -->
        <div class="row">
            <div class="col-lg-12">
                <div class="testimonial-slide-area">
                    <div class="thumb">
                        <div class="thumb-slider">
                                                            <div class="single-slide">
                                    <img 
                                        src="assets/images/frontend/testimonial/62efd04613fa71659883590.jpg" 
                                        alt="img"       
                                        data-animation="fadeInUp" data-delay=".3s"
                                    >
                                </div>
                                                            <div class="single-slide">
                                    <img 
                                        src="assets/images/frontend/testimonial/62efd05e00d4d1659883614.jpg" 
                                        alt="img"       
                                        data-animation="fadeInUp" data-delay=".3s"
                                    >
                                </div>
                                                            <div class="single-slide">
                                    <img 
                                        src="assets/images/frontend/testimonial/62efd05e8d63a1659883614.jpg" 
                                        alt="img"       
                                        data-animation="fadeInUp" data-delay=".3s"
                                    >
                                </div>
                                                    </div>
                    </div>
                    <div class="content">
                        <div class="content-slider">
                                                            <div class="single-slide">
                                    <h3 class="name text-white">Taylor Otwell</h3>
                                    <span class="mt-1">Laravel Developer</span>
                                    <p class="mt-3">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo</p>
                                </div>
                                                            <div class="single-slide">
                                    <h3 class="name text-white">Jeffrey Way</h3>
                                    <span class="mt-1">Laravel Developer</span>
                                    <p class="mt-3">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo Nemo.</p>
                                </div>
                                                            <div class="single-slide">
                                    <h3 class="name text-white">Jeffrey Way</h3>
                                    <span class="mt-1">Laravel Developer</span>
                                    <p class="mt-3">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo Nemo.</p>
                                </div>
                                                    </div>
                    </div>
                </div><!-- testimonial-single end -->
            </div>
        </div>
    </div>
</section>